$color-primary-blue: #229cca;
$color-primary-blue-dark: #057fac;
$color-red: #fc5252;
$font-color-primary: rgb(61, 61, 61);
$font-color-primary-dark: rgb(41, 41, 41);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

html {
  font-size: 10px;
  font-family: work sans;
  background-color: rgb(225, 225, 225);
}

body {
  margin: 3rem;
  background-color: #f5f5f5;
}

.row {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  padding: 3rem 12rem 6rem;
  font-family: montserrat;
  font-weight: 800;
  font-size: 2.7rem;
  color: $color-primary-blue;
  & .clr {
    color: $color-red;
  }
}

h1{
  color: $color-primary-blue-dark;
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: capitalize;
}

h3{
  font-size: 2rem;
  font-weight: 500;
}

h2{
  font-size:2.2rem;
  color:rgb(73, 73, 73);
  font-weight: 400;
  text-transform: capitalize;
}

/*========================================INPUTS======================================================*/

.inputs-main {
  margin-bottom: 2rem;
}

.inputs-main > *:not(:first-child) {
  margin-left: 7rem;
}

.input_task {
  text-transform: capitalize;
  order: 1;
  color: $font-color-primary;
  height: auto;
  font-family: work sans;
  font-size: 1.5rem;
  padding: 1.1rem 2rem;
  width: 100%;
  border-radius: 5rem;
  border: 1px solid #a1a1a1;
  transform: scaleX(1);
  transition: all .2s ease-in;
  &:focus {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1.1px solid #52c5db;
    transform: scaleX(1)
  }
  &:hover{
    transform: scaleX(1.03);

    &:focus {
      box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1);
      outline: none;
      border: 1.1px solid #52c5db;
      transform: scaleX(1)
    }
  }

  &-label {
    color: $color-primary-blue;
    order: 0;
    transform: translateY(-1rem) translateX(3rem);
    font-size: 1.7rem;
    font-weight: 400;
    transition: all 0.3s ease;
  }

  &:placeholder-shown + &-label {
    transform: translateY(1rem) translateX(3rem);
    opacity: 0;
    visibility: hidden;
  }
}

/*---------------------priority section---------------------------*/

.input-priority {
  display: inline-block;
}

.task {
  display: flex;
  flex-direction: column;
  width: 45%;
  transform: translateY(-1.7rem);
  float: left;
}

.select-box {
  position: relative;
  display: flex;
  width: 17rem;
  flex-direction: column;
  font-size: 2rem;
  user-select: none;

  & .option_container {
    margin-top: 5rem;
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    order: 1;
    height: 0;
    width: inherit;
    overflow: hidden;
    transform: translateY(-3rem);
    transition: all 0.4s cubic-bezier(0.17, 0.52, 0, 1.35);

    &.active {
      margin-top: 5rem;
      position: absolute;
      height: 156.8px;
      transform: translateY(0rem);
      z-index: 200;
    }
  }

  & .option {
    padding: 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: rgba(101, 211, 255, 0.527);
    }
    & .radio {
      display: none;
    }
  }
}

.select-box .option .label,
.selected-container {
  font-weight: 500;
  color: rgb(56, 56, 56);
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
}

.selected-container {
  color: $color-primary-blue;
  width: 17rem;
  padding: 1rem 1.3rem;
  padding-left: 0rem;
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
  border: 1px solid $color-primary-blue;
  background-color: #fff;
  position: relative;
  transition: all .2s ease;
  &:hover{
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1);
  }

  &::after {
    content: "";
    background: url("../resources/icons/chevron-down-outline.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: $color-primary-blue;
    position: absolute;
    height: 100%;
    width: 2.2rem;
    right: 10px;
    top: 9px;
    transition: all 0.4s;
  }
  &.active {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1);
    border-radius: 1.4rem;
  }
}

.select-box .option_container.active + .selected-container::after {
  transform: rotateX(180deg);
  top: -9px;
}

/*----------------------------------------TIME SECTION------------------------------------*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.time-picker {
  margin-left: 9rem !important;
  transform: translateY(-2.5rem);
  font-size: 14px;
}

.seperator {
  font-size: 25px;
  color: $color-primary-blue-dark;
}

.time-picker .hour .input,
.time-picker .minute .input {
  font-size: 25px;
  font-family: Work sans;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  background: none;

  text-align: center;
  color: $font-color-primary;
}

.time-picker .hour .hr-up,
.time-picker .hour .hr-down,
.time-picker .minute .min-up,
.time-picker .minute .min-down {
  display: block;
  text-align: center;
  color: $color-primary-blue-dark;
}

.arrows {
  transform: translateY(1rem);
  display: inline-block;
}

.hour,
.minute {
  display: inline-block;
}

.input {
  transform: translateY(4px);
}

.seperator {
  display: inline-block;
}
.time-picker {
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.watch {
  display: flex;
  flex-direction: column;
}

.watch-label {
  color: $font-color-primary;
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.add-btn_round {
  float: right;

  &_icon {
    cursor: pointer;
    width: 4.5rem;
    color: $color-primary-blue-dark !important;
  }
}

/*=======================================================================================================================*/

.heading_primary {
  display: block;
  margin: 3rem 0 5rem 2rem;
  /* margin-bottom: 3rem;
  margin-left: 2rem; */
}


/*==================================================MAIN TASKS container======================================*/

.task-list_container{
  height:40rem;
  display: inline-block;
  width: 48%;
  overflow-y: scroll;
}

.task-list_container::-webkit-scrollbar{
  display: none;
}

.task-list {
  width: 100%;
  background-color: #fff;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);

  &_1{
    display: inline-block;
  }

  & .task-upper{
    & .task-name {
      display: inline-block;
      text-transform: capitalize;
      font-size: 2.3rem;
      font-weight: 500;
      padding: 1.5rem 1rem 1.5rem 2.5rem;
    }
  
    & .task_clock-addB {
      transform: translateX(5rem);
      display: inline-block;
      transition: .5s ease;

      &--active{
        transform: translateX(0rem);
      }
    
      & .clock {
    transform: translateY(.5rem);
        width: 2.7rem;
      }
      & .time{
        display:inline-block;
        font-size: 2rem;
        font-weight: 400;
        color: $color-primary-blue-dark;
        margin-left: 1rem;
      }
      
    }
    
  }

  .add-btn{
    visibility: hidden;
    opacity:0;
    margin-left: 1rem;
    width: 1.8rem;
    transition: .5s ease;
    cursor: pointer;
    &-div{
      display:inline-block;
    }

    &--active{
      opacity: 1;
      visibility: visible;
      transform: rotate(45deg);
      cursor: pointer;
    }
  }

  .pencil{
    width: 1.8rem;
    margin-left: 1rem;
    visibility: hidden;
    transition: .5s ease;
    transform: translateX(2rem);
    opacity:0;
    cursor: pointer;
  }

  &:hover .task_clock-addB {
    transform: translateX(0rem);
  }

  

  &:hover  .add-btn{
    opacity: 1;
    visibility: visible;
  }

  &:hover  .pencil{
    transform: translateX(0rem);
    opacity: 1;
    visibility: visible;
  }

  
  & .task-lower{
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
/*     background-color: #CDF1F8; */
    display: flex;
    justify-content: space-around;
    

    &_commands{
 
     display: flex;
     align-items: center;

      &-icon{
        cursor: pointer;
        width: 2.5rem;
      }
      &-name{
        cursor: pointer;
        padding-left: 1rem;
        font-size: 1.5rem;
      }
    }
    
  }
}

#cross line{
  stroke:red;
  &:hover{
    transform: scale(1.1);
  }
}

g#trash-top{
  transition: .5s ease alternate;
}

.delete-icon:hover  g#trash-top{
  transform: translateX(15px) rotate(20deg);
  transform-origin: center;
  transform-box: fill-box;
}

/*==========================================================SUBTASKS CONTAINER===================================================*/


.subtask-list_container{
  width: 43%;
  float: right;
  
}

.subtask-list_input{
  display: flex;
  flex-direction: column;
  /* opacity: 0; */
  position: relative;
  transform: translateY(-3rem);

  & .input-box{
  text-transform: capitalize;
  order: 1;
  width: 90%;
  font-size: 1.6rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 1.5px solid rgb(112, 112, 112);
  background-color: transparent;
  transition: all .2s ease-in;
  &:focus{
    outline: none;
    border-bottom: 1.5px solid $color-primary-blue-dark;
  }
  &:hover{
    border-bottom: 1.5px solid $color-primary-blue;
    &:focus{
      outline: none;
      border-bottom: 1.5px solid $color-primary-blue-dark;
    }
  }
  }

  & .sublabel{
    color: $color-primary-blue;
    order: 0;
    transform: translateY(1.5rem) translateX(1.7rem);
    font-size: 1.7rem;
    font-weight: 400;
    transition: all 0.3s ease;
  }

  & .input-add{
    position: relative;
    right:-38rem;
    top:3rem ;
    width: 2rem;
    cursor: pointer;
  }
}

.input-box:placeholder-shown + .sublabel{
  transform: translateY(3.5rem) translateX(1.7rem);
  opacity: 0;
  visibility: hidden;
}

/*-------------------subtasks animations and names--------------------*/


  input[type=checkbox]{
    display: none;
  
    &:checked + label .box{
      animation:check-anim .5s linear;
    }
  
    &:checked + label .check {
      stroke-dashoffset: 0;
    }
}

.subtasks{
  margin:1rem;
  height:27rem;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    display: none;
  }

  &-cross-icon{
    float:right;
    margin-right: 2rem;
    width: 1.7rem;
    transform: translateY(1.5rem) translateX(3rem);
    opacity: 0;
    transition: all .3s ease;
    
  }

  &-items{
    &:nth-child(even){
      background-color: #fff7f7;
    }
    &:nth-child(odd){
      background-color: #ffeeee;
    }
  }

  & .checkbox-inp{
    padding: .6rem;
    transform: translateY(-12%);
    &:hover .subtasks-cross-icon{
      transform: translateY(1.5rem) rotate(45deg);
      opacity: 1;
    }
  }
  
  & svg{
    transform: translateY(28%);
    width: 3rem;
    stroke: rgb(0,124,226);
    stroke-width: 6;
    
    margin-right: 2rem;
    margin-left: 2rem;

    & .box{
      stroke-dasharray: 320;
      stroke-dashoffset: 0;
      fill: rgb(255, 241, 241);
      animation: notcheck-anim .5s linear;
    }
    & .check{
      stroke-dasharray: 80;
      stroke-dashoffset: 80;
      fill: none;
      transition: stroke-dashoffset .5s linear;
    }
  }
  

  &_names{
    font-size: 2.4rem;
    font-weight: 500;
    color: rgb(58, 58, 58);
  }
}



/*==========================================================*/

.section-bottom{
  //border-radius: 1rem;
  background-color: rgb(255, 239, 239);
  border-top:2px solid rgb(172, 172, 172);
  margin: 5rem 0 5rem 0;
  padding: 5rem 5rem;
}


.task-bottom_heading{
  float:right;
}

.bottom-tasks{
  
  margin: 5rem 0 7rem 0;
  
}

.tasks{
  //background-color: rgb(207, 207, 207);
  float: right;
  width:70%;
  border-radius: .7rem;
  overflow-x: scroll;
  padding:3rem;
  //margin-bottom:3rem;
  
  &::-webkit-scrollbar{
    height: 1.7rem;
    width: 2rem;
    &-track{
      width: 2rem;
      border-radius:2rem;
      box-shadow: 0 .3rem .3rem rgba(97, 97, 97, 0.151);
    }
    &-thumb{
      background-color: #cecece;
      border-radius:2rem;
      
    }
  }
  
}

.task-width{
  width:300%;
  height:58px;
}

.task-one{
  margin-right: 2rem;
  position: relative;
  display: inline-block;
  background-color: #fff9f9;
  padding: 2rem 4rem 1.5rem 2rem;
  //min-width:12rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
}

.task-status{
  padding-top:3rem;
  width:29%;
  display: inline-block;
}

.add-btn-btm{
  position:absolute;
  border-radius: 50%;
  right: .4rem;
  top:.3rem;
  width:2.5rem;
  padding: .5rem;
  &:hover{
    background: rgba($color-primary-blue , 0.2) ;
  }
}

#trash-bottom{
  stroke: red;
}

footer{
  
  background-color:#082628;

  & .logo{
    display: inline-block;
    padding: 2rem 7% 0rem 7%;
  }

  & .copy_rights{
    position: sticky;
    top:0px;
    color: #ffdfdf;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;
    text-transform: capitalize;
  }

  & ul{
    float: right;
    margin-right:5%;
    & li{
      margin:2rem 2rem 0rem 2rem;
      display: inline-block;
      list-style: none;
      & a:link,
      a:visited{
        color:rgb(255, 199, 199);
        font-size: 3rem;
        transition:all .2s ease;
        & .icons{
          transform: scale(1);
          transition:all .2s ease;
          & :hover{
            transform: scale(1.2);
          }
        }
      }
      & a:hover{
        color:#fff;
        //transform: scale(1.2);
      }
    }
  }
}
/*================================================utility classes====================================================*/

.u_task-name_length {
  display: inline-block;
  width: 65%;
}

.u__very_high-container{
  background-color: #FFDADA;
}

.u__high-container{
  background-color: #F7E3BD;
}

.u__medium-container{
  background-color: #DAFFE8;
}

.u__veryhigh-text{
  color:#db2525;
}

.u__high-text{
  color:#e9a00e;
}

.u__medium-text{
  color:#39e796;
}


.u__low-container{
  background-color: #CDF1F8;
}

.u__incomplete-border{
  border:1.1px solid rgb(255, 0, 0);
}

.u__input-box--empty{
  
  border-bottom: 1.5px solid rgb(255, 74, 74) !important;
  &::placeholder{
    color:rgb(255, 74, 74);
  }
}

.u_priority-second-height{
  height:118px !important;
}


/*==================================keyframes===================================*/

@keyframes check-anim{
  0%{
      stroke-dashoffset: 0;
  }
  50%{
      stroke-dashoffset: 320;
  }
  100%{
      stroke-dashoffset: 640;
  }
}

@keyframes notcheck-anim{
  0%{
      stroke-dashoffset: 640;
  }
  
  100%{
      stroke-dashoffset: 0;
  }
}